@model IEnumerable<BaiThi0186.Models.HVDCau3>

@{
    ViewData["Title"] = "Index";
}

<h1>Bảng Thông Tin</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
